<!DOCTYPE html>
<html lang="en-US" dir="ltr">

{%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}

	{% include "head.njk" %}

	<body>
		{% include "header.njk" %}
		<main>
			{{ content | safe }}
		</main>
		{% include "footer.njk" %}
	</body>

</html>
