<footer class="contentinfo">
	<p>Copyright {% year %}</p>
	<ol>
		<li><a href="/About-This-Site/" class="link-undercover">About This Site</a></li>
		<li><a href="/Site-Map/">Site Map</a></li>
		<li><a href="/Blog/Subscribe" class="link-undercover">Subscribe</a></li>
	</ol>
</footer>