<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noai, noimageai"> <!-- https://neil-clarke.com/block-the-bots-that-feed-ai-models-by-scraping-your-website/ -->
	<meta name="generator" content="{{ eleventy.generator }}">
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="./sitemap.xml"> <!-- TK need to add sitemap -->

	<title>{{ pageTitle }}</title>
	<meta name="description" content="{{ pageDescription }}">
	<meta name="keywords" content="TK">
	<meta name="author" content="TK">

	<!-- Favicon -->
	<!-- https://favicon.io/ ->
	

	<!-- Open Graph Protocol -->
	<!-- https://ogp.me/     -->
	<meta property="og:title" content="{{ pageTitle }}">
	<meta property="og:description" content="{{ pageDescription }}">
	<meta property="og:locale" content="en-US">
	<meta property="og:url" content="{{ page.url }}">
	
	<meta property="og:image" content="TK">
	<meta property="og:image:alt" content="TK">
	<meta property="og:image:width" content="TK">
	<meta property="og:image:height" content="TK">
	<meta property="og:type" content="website">

	<!-- Twitter Cards -->
	<!-- https://developer.x.com/en/docs/x-for-websites/cards/ -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ pageTitle }}">
	<meta name="twitter:description" content="{{ pageDescription }}">
	<meta name="twitter:image" content="TK">
	<meta name="twitter:image:alt" content="TK">
	
	<!-- JSON-LD -->
	

</head>