---
layout: base.njk
---

<h1 id="main-content" tabindex="-1">{{ title }}</h1>

<p>{{ description }}</p>

<ul class="post-metadata">
	{% if date %}<li>Posted on: <time datetime="{{ date | machineReadable }}">{{ date | humanReadable }}</time>.</li>{% endif %}
	{% if date_modified %}<li>Updated on: <time datetime="{{ date_modified | machineReadable }}">{{ date_modified | humanReadable }}</time>.</li>{% endif %}
	{% if tags %}<li>Tagged with: {% for item in tags | sort %}{{ item }}{% if not loop.last %}, {% endif %}{% endfor %}.</li>{% endif %}
	{% if categorizedUnder %}<li>Categorized under: {% for item in categorizedUnder | sort %}<a href="/blog/categories/#{{ item | slugify }}">{{ item }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.</li>{% endif %}
</ul>

{{ content | safe }}

