---
layout: base.njk
title: Blog Archive
---

{% for post in collections.post %}

	<h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
	<p>{{ post.data.description }}</p>
	<ul class="post-metadata">
		{% if post.data.date %}<li>Posted on: <time datetime="{{ post.data.date | machineReadable }}">{{ post.data.date | humanReadable }}</time></li>{% endif %}
		{% if post.data.date_modified %}<li>Updated on: <time datetime="{{ post.data.date_modified | machineReadable }}">{{ post.data.date_modified | humanReadable }}</time></li>{% endif %}
		<li>Catagorized under TK.</li>
	</ul>

    <hr>

{% endfor %}
