---
layout: layouts/page.njk
title: Blog Archive (Paginated)
pagination:
    data: collections.post
    size: 2
    reverse: true
permalink: "/blog/archive-paginated/{{ pagination.pageNumber + 1 }}/index.html"
---

{% for post in pagination.items %}

    {% include "partials/post-metadata.html" %}
    {% if not loop.last %}<hr>{% endif %}

{% endfor %}

<ol>
    <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">{% endif %}First{% if page.url != pagination.href.first %}</a>{% endif %}</li>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">{% endif %}Previous{% if pagination.href.previous %}</a>{% endif %}</li>
    {% for pageEntry in pagination.pages %}<li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>{% endfor %}
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">{% endif %}Next{% if pagination.href.next %}</a>{% endif %}</li>
    <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">{% endif %}Last{% if page.url != pagination.href.last %}</a>{% endif %}</li>
</ol>