---
layout: layouts/base.njk
eleventyComputed:
  title: "Categorized under {{ pagination.items[0] }}"
pagination:
  data: collections.categories
  size: 1
permalink: "/blog/categories-paginated/{{ pagination.items[0] | slugify }}/index.html"
---

{% for item in pagination.items %}
    <h1 id="main-content" tabindex="-1">Categorized under {{ item }}</h1>
    <ol reversed>
        {% for post in collections.categorizedPages | categorizedUnder(item) | reverse %}
            {% include "partials/post-item.html" %}
	    {% endfor %}
    </ol>
{% endfor %}