---
layout: layouts/page.njk
title: Blog Tags
---

{# List out all tags #}

<ol>
	{% for tag in collections.tags %}
		<li><a href="#{{ tag | slugify }}">{{ tag }}</a></li>
	{% endfor %}
</ol>

{# For each tag, list out all relevant posts #}

{% for tag in collections.tags %}
    <h2 id="{{ tag | slugify }}" tabindex="-1">{{ tag }}</h2>
    <ol reversed>
        {% for item in collections.taggedPages | taggedWith(tag) %}
            <li>{% if item.data.date %}<time datetime="{{ item.data.date | machineReadable }}">{{ item.data.date | humanReadableDateTime }}</time>: {% endif %}<a href="{{ item.url }}">{{ item.data.title }}</a></li>
	    {% endfor %}
    </ol>
{% endfor %}