<!DOCTYPE html>
<html lang="en-US" dir="ltr">

{%- set pageTitle %}{% if title %}{{ title | striptags }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description | striptags }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}

	{% include "partials/head.njk" %}

	<body>
		{% include "partials/header.njk" %}
		<main>
			{{ content | safe }}
		</main>
		{% include "partials/footer.njk" %}
	</body>

</html>
