---
layout: layouts/base.njk
---

<h1 id="main-content" tabindex="-1">{{ title }}</h1>

{{ content | safe }}

<h2>Posts by {{ title }}</h2>

<ol reversed>
    {% for post in collections.post | authorIs(code_name) %}
        {% include "partials/post-item.html" %}
    {% endfor %}
</ol>