---
permalink: /feeds/aftermath.rss
---
<?xml version="1.0" encoding="UTF-8"?>
<rss	version="2.0"
		xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
		xmlns:content="http://purl.org/rss/1.0/modules/content/" >
  <channel>
    <title>Aftermath</title>
	<description>The Resurgence: The Aftermath: The Recap: The Podcast. Here's what you missed.</description>
    <link>https://podcasts.camcoulter.com/aftermath/</link>
	<language>en-US</language>
	<itunes:image href="https://podcasts.camcoulter.com/assets/images/circumstantials-300.jpeg" />

	

{% for post in collections.aftermath %}
	<item>
		<title>{{ post.data.title }}</title>
		<content:encoded><![CDATA[{{ post.content | safe }}]]></content:encoded>
		<enclosure url="{{ post.data.source }}" length="{{ post.data.sourceLength }}" type="audio/mpeg" />
		<pubDate>{{ post.date }}</pubDate>
	</item>
{% endfor %}</ol>

  </channel>
</rss>