---
permalink: /feeds/aftermath.rss
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
  <channel>
    <title>Aftermath</title>
	<description>The Resurgence: The Aftermath: The Recap: The Podcast. Here's what you missed.</description>
    <link>https://podcasts.camcoulter.com</link>
	<language>en-US</language>
	<itunes:image href="https://podcasts.camcoulter.com/assets/images/circumstantials-300.jpeg" />

	<item>
		<title>2. Nadya Comes Clean</title>
		<description>In which Nadya shares about what really happened over spring break.</description>
		<enclosure url="https://f004.backblazeb2.com/file/treadingSorcery/Podcasts/Aftermath/02+Nadya+Comes+Clean.mp3" length="4109809" type="audio/mpeg" />
		<pubDate>Sat, 27 Sep 2025 17:00:00 -0700</pubDate>
	</item>

	<item>
		<title>1. A Party Reunited, a Party Interrupted</title>
		<description>In which Russ' birthday party goes horribly awry.</description>
		<enclosure url="https://f004.backblazeb2.com/file/treadingSorcery/Podcasts/Aftermath/01+A+Party+Reunited+A+Party+Interrupted.mp3" length="4635339" type="audio/mpeg" />
		<pubDate>Sun, 14 Sep 2025 17:00:00 -0700</pubDate>
	</item>

  </channel>
</rss>