---
permalink: /feeds/aftermath.rss
---
<?xml version="1.0" encoding="UTF-8"?>
<rss	version="2.0"
		xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
		xmlns:content="http://purl.org/rss/1.0/modules/content/" >
  <channel>
    <title>Aftermath</title>
	<description>The Resurgence: The Aftermath: The Recap: The Podcast. Here's what you missed.</description>
    <link>https://podcasts.camcoulter.com/aftermath/</link>
	<language>en-US</language>
	<itunes:image href="https://podcasts.camcoulter.com/assets/images/circumstantials-300.jpeg" />

	<item>
		<title>2. Nadya Comes Clean</title>
		<description>In which Nadya shares about what really happened over spring break.</description>
		<link>https://podcasts.camcoulter.com/aftermath/2025/09/27/nadya-comes-clean/</link>
		<content:encoded><![CDATA[<p>In which Nadya shares about what really happened over spring break.</p>
		<p>Music: “<a href="https://app.sessions.blue/browse/track/283e5836-c159-4827-8c00-31f74bf3917a">Discovery Harbor</a>” by <a href="https://sessions.blue/">Blue Dot Sessions</a>, used under a Creative Commons Attribution-NonCommercial 4.0 International license (CC BY-NC 4.0).</p>]]></content:encoded>
		<enclosure url="https://f004.backblazeb2.com/file/treadingSorcery/Podcasts/Aftermath/02+Nadya+Comes+Clean.mp3" length="4109809" type="audio/mpeg" />
		<pubDate>Sat, 27 Sep 2025 17:00:00 -0700</pubDate>
	</item>

	<item>
		<title>1. A Party Reunited, a Party Interrupted</title>
		<description>In which Russ' birthday party goes horribly awry.</description>
		<link>https://podcasts.camcoulter.com/aftermath/2025/09/14/a-party-reunited/</link>
		<content:encoded><![CDATA[<p>In which Russ' birthday party goes horribly awry.</p>
		<p>Music: “<a href="https://app.sessions.blue/browse/track/283e5836-c159-4827-8c00-31f74bf3917a">Discovery Harbor</a>” by <a href="https://sessions.blue/">Blue Dot Sessions</a>, used under a Creative Commons Attribution-NonCommercial 4.0 International license (CC BY-NC 4.0).</p>]]></content:encoded>
		<enclosure url="https://f004.backblazeb2.com/file/treadingSorcery/Podcasts/Aftermath/01+A+Party+Reunited+A+Party+Interrupted.mp3" length="4635339" type="audio/mpeg" />
		<pubDate>Sun, 14 Sep 2025 17:00:00 -0700</pubDate>
	</item>

  </channel>
</rss>