<footer class="contentinfo">
	<ul>
		<li><a href="/about-this-site/">About This Site</a></li>
		<li><a href="/sitemap/">Site Map</a></li>
		<li><a href="/subscribe/">Subscribe</a></li>
	</ul>
	<p>{{ meta.rights | safe }}</p>
</footer>