<h2><a href="{{ post.url }}"">{{ post.data.title }}</a></h2>

<p>{{ post.data.description }}</p>

<ul class="post-metadata">
	{% if post.data.author %}{% for item in collections.people | personIs(post.data.author) %}<li>Author: <a href="/people/{{ item.data.title | slugify }}/">{{ item.data.title }}</a>.</li>{% endfor %}{% endif %}
	{% if post.date %}<li>Posted on: <time datetime="{{ post.date | machineReadable }}">{{ post.date | humanReadableDate }}</time>.</li>{% endif %}
	{% if post.data.date_modified %}<li>Updated on: <time datetime="{{ post.data.date_modified | machineReadable }}">{{ post.data.date_modified | humanReadableDateTime }}</time>.</li>{% endif %}
	{% if post.data.categorizedUnder %}<li>Categorized under: {% for item in post.data.categorizedUnder | sort %}<a href="/blog/categories/#{{ item | slugify }}">{{ item }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.</li>{% endif %}
	{% if post.data.taggedWith %}<li>Tagged with: {% for item in post.data.taggedWith | sort %}<a href="/blog/tags/#{{ item | slugify }}">{{ item }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.</li>{% endif %}
</ul>